
.sidebar {
    background-color: #343a40;
}

.main-header {
    background-color: #343a40;
    color: white;
}

.footer-content {
    text-align: center;
    padding: 10px;
    background-color: #343a40;
    color: white;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
